{{ $data := index site.Data site.Language.Lang }}

{{ if $data.catalogs.catalogs.enable }}
{{ with $data.catalogs.catalogs }}
{{"<!-- Start Banners -->" | safeHTML}}
<section id="catalog">
	{{"<!-- catalogs wrapper -->" | safeHTML}}
        <div style="width:5%;position:absolute;z-index:10">
		<img id="prev-catalog" src="{{ "images/nav/FlechaBannerIzq.png" | absURL }}" alt="Banner anterior" style="width:100%;height:100%">
	</div>
        <div style="width:5%;position:absolute;left:95%;z-index:10">
		<img id="next-catalog" src="{{ "images/nav/FlechaBannerDer.png" | absURL }}" alt="Banner anterior" style="width:100%">
	</div>
	<div id="catalogs" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms" style="width:100%;height:100%">
		{{ range .catalogs_item }}
	        <a href="{{ .link | absURL }}">
		<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
		</a>
		{{ end }}
	</div>
</section>
{{"<!-- End banners -->" | safeHTML}}
{{ end }}
{{ end }}
