{{ $data := index site.Data site.Language.Lang }}

{{ if $data.warranty.enable }}
{{ with $data.warranty }}
{{"<!-- Start Contact Us -->" | safeHTML}}
<section id="contact" class="contact-us section-bg">
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>

			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info">
				<p> {{ .warranty_text | markdownify }} </p>

			</div>
		</div>
	</div>
	<div class="container pb-5">
		<div class="row">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML}}
				<div class="title text-center wow fadeIn" data-wow-duration="500ms">
					<h2>{{ with .form_title }} {{ index (split . " ") 0 | safeHTML }} {{ end }}<span class="color">
							{{ with .form_title }} {{ after (len (index (split . " ") 0)) . | safeHTML }} {{ end }}</span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>

		</div>
	</div>
	<div class="container pb-5">
		<div class="row">

			{{"<!-- Contact Details -->" | safeHTML}}
			<div class="contact-info col-lg-6 wow fadeInUp" data-wow-duration="500ms">
				<p> {{ .content | markdownify }} </p>

			</div>

			{{"<!-- Contact Form -->" | safeHTML}}
			{{ if .warranty_form.enable }}
			{{ with .warranty_form }}
			<div class="col-lg-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">

				<form id="contact-form" class="form-meghna" method="post" action="{{ .form_action }}" role="form" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" placeholder="{{ .name }}" class="form-control" name="name" id="name">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .identity }}" class="form-control" name="identity" id="identity">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .phone }}" class="form-control" name="phone" id="phone">
					</div>
					<div class="form-group">
						<input type="email" placeholder="{{ .email }}" class="form-control" name="email" id="email">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .product }}" class="form-control" name="product" id="product">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .serial }}" class="form-control" name="serial" id="serial">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .store }}" class="form-control" name="store" id="store">
					</div>
					<div class="form-group">
						<input type="text" placeholder="{{ .city }}" class="form-control" name="city" id="city">
					</div>
					<div class="form-group">
						<input type="date" placeholder="{{ .purchase_date }}" class="form-control" name="purchase_date" id="purchase_date">
					</div>
					<div class="form-group">
						<input type="file" placeholder="{{ .photo }}" class="form-control" name="upload" id="upload">
					</div>
					<div id="cf-submit">
						<button type="submit" id="contact-submit" class="btn btn-transparent btn-block"
							value="{{ .submit }}">{{ .submit }}</button>
					</div>
				</form>
				<div id="response"></div>
			</div>
			{{ end }}
			{{ else }}
			<div class="contact-details">
				{{ range .contact_list }}
				<div class="con-info clearfix">
					<i class="{{ .icon }}"></i>
					<span>{{ .info }}</span>
				</div>
				{{ end }}
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /contact -->" | safeHTML}}
{{ end }}
{{ end }}
